<!-- app/views/restaurants/index.html.erb -->
<div class="container mt-5">
  <h1 class="text-center mt-3">Lista de Restaurantes</h1>
  <div class="row">
    <% @restaurants.each do |restaurant| %>
    <div class="col-12 col-md-6 col-lg-4">
      <a href="<%= restaurant_path(restaurant) %>">
        <div class="card mt-3" style="width: 18rem;">
          <%= image_tag 'restaurant.jpg'%>
          <div class="card-body">
            <h5 class="card-title card-link "><%= restaurant.name %></h5> <!-- Adicione a classe "restaurant-title" aqui -->
            <%# <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> %>
          </div>
          <ul class="list-group list-group-flush">

          </ul>
          <div class="card-body">
          </div>
        </div>
      </a>
    </div>
    <% end %>
  </div>

  <%= link_to "Criar novo Restaurant", new_restaurant_path, class: 'btn btn-primary mt-5'  %>
</div>
