<!-- app/views/restaurants/index.html.erb -->
<div class="container mt-5">
  <h1 class="text-center mt-3">Lista de Restaurantes</h1>

  <div class="row" data-controller="restaurants">
    <div class="col-4" data-target="restaurants.list"></div>
  </div>

  <%= button_to 'Novo Restaurante', new_restaurant_path, method: :get, class: 'btn btn-primary mt-5' %>
</div>
