<!-- app/views/restaurants/index.html.erb -->
<!-- app/views/restaurants/index.html.erb -->
<div class="container">
  <h1 class="text-center mt-3">Lista de Restaurantes</h1>
  <div class="row">
    <% @restaurants.each do |restaurant| %>
    <div class="col-12 col-lg-4 mb-3">
        <div class="card">
          <div class="card-body">
            <ul>
              <li>
                <strong>Nome:</strong> <%= restaurant.name %>
              </li>
            </ul>
          </div>
          <%= link_to "Sobre", restaurant_path(restaurant), class: "btn btn-primary" %>
        </div>
      </div>
        <% end %>
    </div>

    <%= link_to 'Create a Restaurant', new_restaurant_path, class: 'btn btn-primary' %>
  </div>
