<!-- app/views/restaurants/index.html.erb -->
<!-- app/views/restaurants/index.html.erb -->
<div class="container">
<h1 class="text-center mt-3">Lista de Restaurantes</h1>
  <% @restaurants.each do |restaurant| %>
  <div class="d-flex">
<div class="card m-3" style="width: 18rem;" >
<div class="card-body">
<ul>
    <li>
      <strong>Nome:</strong> <%= restaurant.name %>
    </li>

</ul>
</div>
<%= link_to "Sobre", restaurant_path(restaurant), class: "btn btn-primary" %>
</div>
  <% end %>
  </div>

</div>
